<div class="ng-cloak">
  <h3>Working Proposal</h3>
  <div class="form-group">
    <ui-select ng-model="proposalTitle.selected" 
               on-select="titleSelected($item)" 
               class="btn-group bootstrap-select form-control"
               ng-disabled="false"
               append-to-body="true">
      <ui-select-match placeholder="Select or search for a Proposal title ...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="title in getProposalTitles($select.search) | filter: $select.search">
        <div ng-bind="title"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <summernote config="options" ng-model="proposalBody" on-init="init()" 
      on-enter="enter()" on-focus="focus(evt)" on-blur="blur(evt)"
      on-paste="paste()" on-keyup="keyup(evt)" on-keydown="keydown(evt)"
      on-change="change(contents)" on-image-upload="imageUpload(files)"></summernote>
    <span class="pull-right">{{ savedMsg }}</span>
    <hr/>
    <h3>Proposal Search</h3>
    <input type="text" class="form-control" ng-model="searchString" placeholder='Search: e.g. "" or ""' ng-change="search()"/>
    <br/>
    <div ng-repeat="section in sections" class="row" style="border: 1px dotted; padding-top: 5px;">
      <div class="col-sm-12">
        <h4>{{ section.sign }}</h4>
        <p>{{ section.text }}</p>
        <a href class="learn-more" ng-click="addSection($index)" style="cursor: pointer;">Add to Proposal</a>
      </div>
    </div>
  </div>
</div>
